* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.head {
  width: 300px;
  text-align: center;
  font: normal 24px Arial;
  color: rgb(220, 247, 254);
  margin: 0px auto;
}
.container {
  height: 406px;
  width: 350px;
  margin: 40px auto;
  background-color: #ffffff43;
  border: 3px inset #95eaea;
  border-radius: 17px;
  padding: 40px 30px;
}
.screen {
  height: 50px;
  width: 300px;
  margin: 10px;
  padding: 16px 10px;
  border: 1px solid #1bb1ac;
  border-radius: 11px;
  background-color: rgb(255, 255, 255);
}
#exibirNumero {
  height: 42px;
  text-align: right;
  font: normal normal 43px Arial;
}
#exibirNumero span {
  opacity: 0.5;
}
.teclado {
  width: 290px;
  height: 206px;
  border: 1px dotted #c3fbff;
  border-radius: 14px;
  margin: 14px;
  padding: 12px;
}
input {
  height: 47px;
  width: 65px;
  margin: 2px;
  padding: 4px;
  border-radius: 10px;
  font: bold normal 30px Verdana;
}
input:hover {
  background-color: silver;
}
.botoesEspeciais {
  height: 50px;
  width: 300px;
  margin: 0px auto;
}
.botoesEspeciais input {
  width: 143px;
  font-size: 20px;
}
